{% extends 'basemain.html' %}
{% load static %}

{% block title %}Our Team - KFG{% endblock %}

{% block content %}
<br><br>

<section class="meet-team-section mt-5 py-5"> {# Changed class name for clarity, added padding #}
    <div class="container">
        <div class="block-title text-center mb-5">
            <h4 class="small-title-kfg">Our Team</h4> {# Example subtitle #}
            <!-- <h2 class="main-title-kfg"></h2> -->
        </div>

        {# --- Kelly Shitambasi --- #}
        <div class="row team-member-row align-items-center mb-5">
            <div class="col-lg-4 col-md-5 order-md-1"> {# Image on the left for desktop #}
                <div class="meet-volunteers-one__single"> {# Using your theme's card style #}
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/kellyshitambasi.jpeg' %}" alt="Kelly Shitambasi" class="img-fluid rounded shadow"> {# Added Bootstrap classes #}
                    </div>
                    <div class="meet-volunteers-one__content text-center"> {# Centered content below image #}
                        <div class="meet-volunteers-one__name">
                            <h3>Kelly Shitambasi</h3>
                        </div>
                        <div class="meet-volunteers-one__social-info justify-content-center"> {# Centered social info #}
                            <div class="left">
                                <p>Founder and Creator</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box ms-2"> {# Added margin start #}
                                <a href="https://www.instagram.com/kenyan_feminine_goddess/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-2"> {# Text on the right for desktop #}
                <div class="team-member-bio p-3"> {# Custom class for bio styling #}
                    {% if team1 and team1.content %}
                        {{ team1.content|safe }}
                    {% else %}
                        <p><em>Update Kelly's Profile content in the Admin (Edit Pages section). Bio coming soon!</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr class="my-5">

        {# --- DR. Elsie Ombakho --- #}
        <div class="row team-member-row align-items-center mb-5">
            <div class="col-lg-8 col-md-7 order-md-2 order-lg-1"> {# Text on the left for desktop (order-lg-1) #}
                <div class="team-member-bio p-3">
                    {% if team2 and team2.content %}
                        {{ team2.content|safe }}
                    {% else %}
                        <p><em>Update Elsie's Profile content in the Admin (Edit Pages section). Bio coming soon!</em></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-5 order-md-1 order-lg-2"> {# Image on the right for desktop (order-lg-2) #}
                <div class="meet-volunteers-one__single">
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/Volunteer_one_img-1.png' %}" alt="DR. Elsie Ombakho" class="img-fluid rounded shadow">
                    </div>
                    <div class="meet-volunteers-one__content text-center">
                        <div class="meet-volunteers-one__name">
                            <h3>DR. Elsie Ombakho</h3>
                        </div>
                        <div class="meet-volunteers-one__social-info justify-content-center">
                            <div class="left">
                                <p>Co-founder</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box ms-2">
                                <a href="https://www.instagram.com/eliselsie?igsh=MzRlODBiNWFlZA%3D%3D" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5">

        {# --- Dr. Loise Kabiru --- #}
        <div class="row team-member-row align-items-center mb-5">
            <div class="col-lg-4 col-md-5 order-md-1"> {# Image on the left for desktop #}
                <div class="meet-volunteers-one__single">
                    <div class="meet-volunteers-one__img">
                        <img src="{% static 'assets/images/resources/dr.loisekaburu.jpeg' %}" alt="Dr. Loise Kabiru" class="img-fluid rounded shadow">
                    </div>
                    <div class="meet-volunteers-one__content text-center">
                        <div class="meet-volunteers-one__name">
                            <h3>Dr. Loise Kabiru</h3>
                        </div>
                        <div class="meet-volunteers-one__social-info justify-content-center">
                            <div class="left">
                                <p>Chief Operating Officer</p>
                            </div>
                            <div class="meet-volunteers-one__social-info-box ms-2">
                                <a href="https://www.instagram.com/lwangithi?igsh=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-2"> {# Text on the right for desktop #}
                <div class="team-member-bio p-3">
                    {% if team3 and team3.content %}
                        {{ team3.content|safe }}
                    {% else %}
                        <p><em>Update Loise's Profile content in the Admin (Edit Pages section). Bio coming soon!</em></p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</section>

{% include 'footer.html' %}

{% endblock %}