{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- ... other head content ... -->
    {% block title %}
    <title>KFG Events</title> <!-- Changed from Blog App -->
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md bg-light fixed-top">
        <!-- This link likely pointed to the main blog list.
             Assuming your 'users.urls' defines 'home' for the homepage '/'
             If your events list IS the main page, it would be different.
             For now, let's assume 'home' is a separate page and 'event_list' is for /events/
        -->
        <a class="navbar-brand" href="{% url 'users:home' %}" style="padding-left:10px">KFG App</a> <!-- Or whatever your site name is, pointing to home -->
        <!-- OR, if the events list is the primary focus and should be linked by the brand: -->
        <!-- <a class="navbar-brand" href="{% url 'blogapp:event_list' %}" style="padding-left:10px">KFG Events</a> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li style="list-style-type: none;">
              <!-- The form action should point to your search view's URL -->
              <form class="d-flex" style='margin-top:6px; margin-bottom:6px' action="{% url 'blogapp:event_search' %}" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search Events" aria-label="Search" name="q" value="{{request.GET.q}}">
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </li>
            <!-- Add an explicit link to the Events list -->
            <li class="nav-item" style="list-style-type: none; margin-top:6px; margin-left: 10px;">
              <a class="nav-link" href="{% url 'blogapp:event_list' %}" style="color: black;">Events</a>
          </li>
          </ul>
          {% if user.is_authenticated %}
          <ul class="nav-item dropdown" style='margin-top:6px; margin-bottom:6px; margin-right:10px;'>
            <a class="nav-link dropdown-toggle" style="color: black; font-size:large" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{ user.first_name|default:user.username }}</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Profile</a> <!-- TODO: Link to user profile view -->
                <!-- "Create Post" becomes "Submit Event" -->
                <a class="dropdown-item" href="#">Submit Event</a> <!-- TODO: Link to event creation view if you have one -->
                <a class="dropdown-item" href="#">Edit Profile</a> <!-- TODO: Link to edit profile view -->
                
                <div class="dropdown-divider"></div>
                <!-- Assuming logout is handled by users app or project level -->
                <a class="dropdown-item" href="{% url 'users:logout' %}">Log Out</a> <!-- Or just /logout if not namespaced -->
            </div>
          </ul>
          {% else %}
          <!-- Assuming login/signup are handled by users app or project level -->
          <button class="btn btn-dark" onclick="window.location.href='{% url "users:login" %}';" style='margin-right:10px; margin-top:6px; margin-bottom:6px;'>Login</button>
          <button class="btn btn-dark" onclick="window.location.href='{% url "users:register" %}';" style='margin-right:10px; margin-top:6px; margin-bottom:6px'>Signup</button>
          {% endif %}
        </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 post">
          {% block content %}
          {% endblock %}
          <!-- Pagination: This should be okay if 'page_obj' is passed by your views -->
          <nav aria-label="...">
            <ul class="pagination">
            {% if page_obj.has_other_pages %} <!-- Changed from is_paginated for clarity -->
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" style="color:black" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                  <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                  <li class="page-item"><a class="page-link" style="color:black" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <li class="page-item"><a class="page-link" style="color:black" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
              {% endif %}
            {% endif %}
            </ul>
          </nav>
        </div>

        {% block sidebar %}
        <div class="col-lg-4 sidebar">
          <ul class="list-group category">
            <li class="list-group-item active" aria-current="true">Event Categories</li> <!-- Changed -->
            {% comment %}
            The 'cat_list' variable needs to be provided by your views.
            In your blogapp/views.py, the event_list and events_by_category views now pass 'categories'.
            So, you should iterate over 'categories' here.
            Also, the URL for category needs to be updated.
            {% endcomment %}
            {% for category_item in categories %} <!-- Changed from cat_list to categories, and category to category_item -->
            <a href="{% url 'blogapp:events_by_category' category_slug=category_item.slug %}" style="text-decoration:none; color:black">
                <li class="list-group-item">{{ category_item.title }}
                    <!-- The .category_set.count was for counting Posts in a Category.
                         For Events, if Category has a related_name='events' or default 'event_set', use that.
                         Or, better, annotate count in the view. For now, let's remove count or simplify.
                    -->
                    <!-- <span class="badge bg-dark">{{ category_item.event_set.count }}</span> -->
                </li>
            </a>
            {% endfor %}
          </ul>
          <div class="recent-post card"> <!-- "Recent Posts" becomes "Upcoming Events" or "Recent Events" -->
            <h2>Upcoming Events</h2>
            {% comment %}
            'latestpost_list' needs to be replaced by a list of recent events, e.g., 'recent_events' from your view context.
            And 'post' variables need to become 'event'.
            The URL 'blog-detail' becomes 'event_detail'.
            {% endcomment %}
            {% for event_item in recent_events %} <!-- Changed latestpost_list to recent_events, post to event_item -->
            <div class="img-p">
              {% if event_item.featured_image %}
              <img style="width:100px; height:80px; object-fit: cover;" src="{{ event_item.featured_image.url }}">
              {% else %}
              <img style="width:100px; height:80px; object-fit: cover;" src="{% static 'images/default_event.png' %}" alt="Default Event Image"> <!-- Placeholder -->
              {% endif %}
              <a style="text-decoration:none; color:black" href="{% url 'blogapp:event_detail' slug=event_item.slug %}"> <!-- Changed URL name and parameter -->
                  <p>{{ event_item.title|truncatewords:7 }}</p>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="category-tag card">
            <h2>Event Categories</h2> <!-- Changed -->
            <div class="button-cuz">
              {% for category_item in categories %} <!-- Changed cat_list to categories, category to category_item -->
              <a href="{% url 'blogapp:events_by_category' category_slug=category_item.slug %}"> <!-- Changed URL name and parameter -->
                  <button type="button" class="btn btn-outline-dark">{{ category_item.title }}</button>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <!-- ... script tags ... -->
  </body>
</html>